[Desktop Entry]
Name=Eternal
Comment=A hybrid scrollable-tiling Wayland compositor
Exec=/usr/bin/eternal-session
TryExec=/usr/bin/eternal-session
Type=Application
DesktopNames=eternal
